[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pip = "*"
flake8 = "*"
isort = "*"
pycodestyle = "*"
pytest = "*"
pylint = "*"
pytest-cov = "*"
pytest-mock = "*"
adafruit-circuitpython-lis3dh = "*"

[requires]
python_version = "3.11.1"
